header {
    text-align: center;
}

header h1 {
    margin-left: auto;
    margin-right: auto;
}

header button.nav {
    position: absolute;
    left: 20px;
    background-color: transparent;
    border: 1px solid transparent;
}

header button.nav:hover {
    border: 1px solid darkgray;
    background-color: #f2f5fa;
}

header button.nav:active {
    background-color: lightgray;
}

main {
    max-width: 800px;
    margin: auto;
}

input.list-title {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    width: 300px;
}