.garbage-can {
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  width: 300px;
  height: 50px;
  margin: auto;
  z-index: 3;

  color: var(--button-foreground);
  border-radius: 10px;
  background-color: var(--danger-color);

  font-size: 48px;

  display: flex;
  justify-content: center;

  transition: background-color 0.2s ease;
}

.garbage-can.dragging-over {
  background-color: var(--danger-color-strong);
  box-shadow: 0 0 20px 5px var(--danger-color-strong);
}
