.drag-handle-wrapper {
  position: relative;
}

.drag-handle-wrapper .drag-handle {
  position: absolute;
  color: var(--secondary-color-light);
  top: 0;
  bottom: 0;
  left: -25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.dragging {
  background-color: var(--background-color);
}
