.flyout-menu-wrapper {
  position: relative;
}

button.flyout-menu-toggle {
  position: relative;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  width: 36px;
  font-size: 24px;
  z-index: 3;
}

.flyout-menu {
  position: absolute;
  /* offset to show the border */
  left: -1px;
  top: -1px;
  border-radius: 5px;
  background-color: var(--primary-color-subtle);
  border: 1px solid var(--font-color);

  display: flex;
  flex-direction: column;
  align-items: start;
  z-index: 1;
}

.menu-section {
  padding: 5px;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  align-items: start;
  width: max-content;
  max-width: 300px;
}

.menu-section h3 {
  margin: 0;
  font-size: larger;
}

.menu-section button {
  border: none;
  box-shadow: none;
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
  background-color: transparent;
  font-size: larger;
  color: var(--font-color);
  margin: 5px 0;
  text-align: left;
}

.menu-section button:hover {
  color: var(--font-color);
  background-color: var(--neutral-color-light);
  text-decoration: underline;
}

.menu-section button:active {
  background-color: var(--neutral-color);
}

.menu-section button:disabled {
  color: var(--neutral-color-strong);
  background-color: transparent;
  text-decoration: none;
  cursor: default;
}

.menu-section button svg {
  margin-right: 5px;
}
