header {
  text-align: center;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 999;
}

header h1 {
  margin-left: auto;
  margin-right: auto;
  max-width: 70%;
  font-size: 28px;
  text-wrap: nowrap;
  overflow-x: clip;
  text-overflow: ellipsis;
}

header button.nav {
  position: absolute;
  left: 20px;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  width: 36px;
  z-index: 1;
}

header button.nav:hover {
  background-color: hsl(217, 44%, 80%);
}

header button.nav:active {
  background-color: lightgray;
}

input.list-title {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  width: 300px;
}
