header {
  text-align: center;
  position: sticky;
  top: 0;
  background-color: var(--background-color);
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: 28px;
  text-wrap: nowrap;
  overflow-x: clip;
  text-overflow: ellipsis;
}

input.list-title {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  width: 300px;
  max-width: 50vw;
}

.title-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  text-wrap: nowrap;
  overflow-x: clip;
  text-overflow: ellipsis;
  min-width: 70%;
}

.title-wrapper p {
  font-size: 24px;
  margin-left: 20px;
  color: var(--font-color);
}

.title-wrapper p.done {
  color: var(--completed-color);
}

@media screen and (max-width: 600px) {
  .title-wrapper {
    flex-direction: column;
  }
  .title-wrapper h1 {
    margin-bottom: 5px;
  }

  .title-wrapper p {
    margin-top: 5px;
  }
}
