button.profile-button {
  min-width: 50px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button.profile-button:hover {
  filter: brightness(85%);
}

button.profile-button:active {
  filter: brightness(70%);
}

.profile-editor-container {
  position: fixed;
  top: 10px;
  right: 10px;

  border-radius: 10%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-editor-container button.close {
  position: absolute;
  top: 10px;
  right: 5px;
  font-size: 24px;
  border: none;
  background-color: transparent;
}

form.profile-editor {
  border-radius: 10%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: hsla(0, 0%, 90%, 0.8);
}

form.profile-editor input {
  padding: 5px;
  font-size: 16px;
  max-width: 100px;
  border-radius: 5px;
  margin-right: 10px;
  height: 26px;
}

form.profile-editor button {
  padding: 5px;
  background-color: hsl(207, 48%, 47%);
  color: white;
  height: 36px;
  width: 36px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: none;
  margin-right: 5px;
  cursor: pointer;
  font-size: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form.profile-editor button.save {
  background-color: hsl(207, 48%, 47%);
}

form.profile-editor button.color-picker {
  background: linear-gradient(
    90deg,
    hsl(348, 97%, 63%) 0%,
    hsl(230, 96%, 62%) 100%
  );
}

form.profile-editor button.color-picker:hover {
  background: linear-gradient(
    90deg,
    hsl(348, 97%, 50%) 0%,
    hsl(230, 96%, 50%) 100%
  );
}

form.profile-editor button.color-picker:active {
  background: linear-gradient(
    90deg,
    hsl(348, 97%, 40%) 0%,
    hsl(230, 96%, 40%) 100%
  );
}

form.profile-editor .form-line {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

form.profile-editor label {
  font-weight: bold;
  text-align: start;
  margin: 10px 0;
}

form.profile-editor:first-child {
  margin-top: 0;
}

form.profile-editor .color-picker-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 200px;
}

.color-picker-container button.color {
  border: 3px solid gray;
  margin: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.color-picker-container button.color.selected {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 3px solid white;
  margin: 5px;
}
