.dragging section {
    background-color: white;
}

section ul {
    margin-left: 30px;
}

h2.all-done {
    color: gray;
    text-decoration: line-through;
}

ul.task-list.drag-over {
    background-color: lightgray;
    border-radius: 10px;
}

ul.task-list {
    list-style-type: none;
    padding: 0;
    width: fit-content;
    min-width: 100px;
}

input.section-title {
    font-size: 24px;
    font-weight: bold;
}