li.task {
  position: relative;
  display: flex;
  font-size: 25px;
  align-items: center;
  margin: 10px 0;
  width: fit-content;
}

li.task label {
  z-index: 0;
}

li.task label.done {
  color: var(--completed-color);
  text-decoration: line-through;
}

li.task input[type="text"] {
  font-size: 25px;
}

li.task input[type="checkbox"] {
  margin-right: 15px;
  transform: scale(1.5);
  accent-color: var(--completed-color);
}

button.add-task {
  display: inline-flex;
  background-color: var(--primary-color-light);
  border: none;
  color: var(--font-color);
  height: 25px;
  width: 25px;
  padding: 0;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  margin-top: -15px;
  margin-bottom: 5px;
  font-size: 16px;
}

button.add-task.default {
  width: fit-content;
  padding: 5px;
}

.completer-tooltip {
  position: absolute;
  left: 80px;
  color: var(--neutral-color-strong);
  background-color: var(--background-color);
  border: 1px solid var(--neutral-color-strong);
  border-radius: 2px;
  width: fit-content;
  padding: 5px;
  white-space: pre;
  font-size: 16px;
  line-height: 1;
  z-index: 3;
}
